<section class="py-5">
    <h1 class="display-3">Thank You</h1>
    <p class="lead">Your ebook should be delivered within 3-5 business days.</p>
    <a href="/" class="btn btn-dark btnlg">Go back</a>
</section>